body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 9;
  display: none;
}
.dom-hide{
  display: none;
}
.dom-show{
  display: block;
}
#reactDom {
  z-index: 99;
  padding: 10px;

  .loading-more-box{
    border-top: 1px dashed #eeeeee;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .app-color-blue {
    color: #46b8da;
  }

  a {
    color: #00B7FF;
  }

  .form-group {
    background-color: #ffffff;
    position: relative;
    z-index: 99;
    margin-bottom: 0px;
    .app-row {
      display: flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-flex-direction: row;
      .app-flex-3 {
        -webkit-flex: 2.0;
        min-width: 40px;
        max-width: 40px;
      }
      .app-flex-7 {
        -webkit-flex: 8.0;
        width: 100%;
      }
    }
  }

  #cityName {
    color: #000;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::after {
      content: "";
      background: #ffffff;
      width: 6px;
      height: 6px;
      border: none;
      display: block;
      float: right;
      margin-top: 5px;
      margin-right: 5px;
      transform: rotate(135deg);
      border-top: .5px solid #000000;
      border-right: .5px solid #000000;
    }
  }

  ul.list-box {
    position: absolute;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    background-color: #ffffff;
  }
  .city-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: .5px solid #e5e5e5;
  }

  @keyframes insertionFade {
    0% {
      width: 50%;
      height: 50%;
    }
    30% {
      width: 70%;
      height: 70%;
    }
    90% {
      width: 90%;
      height: 90%;
    }
    100% {
      width: 100%;
      height: 100%
    }
  }
  .table-box {
    z-index: 99;
    position: relative;
    margin-top: 10px;
    .table {
      background-color: #ffffff;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 99;
    }
  }

  .search-state {
    text-align: center;
    height: 100px;
    line-height: 100px;
  }
  .department-list {
    position: relative;
    width: 100%;
    margin-top: 15px;

    .list-title {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px dashed #e5e5e5;
      height: 30px;
      line-height: 30px;
    }

    ul {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      list-style: none;
      -webkit-flex-wrap: wrap;
      padding-left: 0px;
      margin-top: 15px;

      li {
        white-space: nowrap;
        display: block;
        width: 25%;
        text-align: center;
      }
    }
  }

  .boss-list {
    .list-title {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px dashed #e5e5e5;
      height: 30px;
      line-height: 30px;
    }
    ul {
      padding: 0px;
      list-style: none;

      li.boss-item {
        display: -webkit-flex;
        padding-top: 15px;
        .boss-name-des {
          padding-left: 10px;
          .boss-name {
            display: block;
            color: #000;
          }
          .boss-des {
            display: block;
            color: #999;
            font-size: 13px;
          }
        }
      }
    }
  }

}
