<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/style.css">-->
    <style type="text/css"></style>
</head>
<body>
{% block body %}{% endblock %}
<script type="text/javascript" src="/static/react.min.js"></script>
<script type="text/javascript" src="/static/react-dom.min.js"></script>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/jscss/build/index.js"></script>
</body>

