<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css"></style>
</head>
<body>
{% block body %}{% endblock %}
<script src="/javascripts/react/build/react.min.js"></script>
<script src="/javascripts/react/build/react-dom.min.js"></script>
<script type="text/javascript" src="/stylesheets/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/react/index/index.js"></script>
</body>

